<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="modal-body modal-scroll">
  <div><!---->
    <div tabindex="0"
         class="q-if row no-wrap relative-position q-select q-if-has-label q-if-focusable q-if-standard q-if-has-content text-info">
      <div class="q-if-baseline">|</div>
      <div class="q-if-inner col column q-popup--skip">
        <div class="row no-wrap relative-position">
          <div class="q-if-label q-if-label-above">
            <div class="q-if-label-inner ellipsis">Unit value</div>
          </div>
          <div class="col q-input-target ellipsis justify-start">Decade</div>
        </div>
        <div class="q-if-label-spacer">Unit value</div>
      </div>
      <i aria-hidden="true" class="q-icon q-if-control material-icons">arrow_drop_down</i></div>
    <div class="row">
      <div tabindex="-1"
           class="q-if row no-wrap relative-position q-input col col-4 q-if-has-label q-if-standard q-if-has-content text-mc-main"
           min="0" max="90">
        <div class="q-if-baseline">|</div>
        <div class="q-if-inner col column q-popup--skip">
          <div class="row no-wrap relative-position">
            <div class="q-if-label q-if-label-above">
              <div class="q-if-label-inner ellipsis">Decade</div>
            </div>
            <input min="0" type="number" step="10" class="col q-input-target q-no-input-spinner ellipsis" max="90">
          </div>
          <div class="q-if-label-spacer">Decade</div>
        </div>
      </div>
      <div tabindex="-1"
           class="q-if row no-wrap relative-position q-input q-if-has-label q-if-standard q-if-has-content text-mc-main col col-4"
           min="1">
        <div class="q-if-baseline">|</div>
        <div class="q-if-inner col column q-popup--skip">
          <div class="row no-wrap relative-position">
            <div class="q-if-label q-if-label-above">
              <div class="q-if-label-inner ellipsis">Century</div>
            </div>
            <input min="1" type="number" step="any" class="col q-input-target q-no-input-spinner ellipsis"></div>
          <div class="q-if-label-spacer">Century</div>
        </div>
      </div><!----><!----><!---->
      <div tabindex="-1"
           class="q-if row no-wrap relative-position q-input col col-4 q-if-has-label q-if-standard q-if-has-content text-mc-main"
           min="1">
        <div class="q-if-baseline">|</div>
        <div class="q-if-inner col column q-popup--skip">
          <div class="row no-wrap relative-position">
            <div class="q-if-label q-if-label-above">
              <div class="q-if-label-inner ellipsis">Multiplier</div>
            </div>
            <input min="1" type="number" step="any" class="col q-input-target q-no-input-spinner ellipsis"></div>
          <div class="q-if-label-spacer">Multiplier</div>
        </div>
      </div>
    </div>
    <div tabindex="0"
         class="q-if row no-wrap relative-position q-datetime-input q-if-has-label q-if-focusable q-if-standard q-if-has-content text-mc-main">
      <div class="q-if-baseline">|</div>
      <div class="q-if-inner col column q-popup--skip">
        <div class="row no-wrap relative-position">
          <div class="q-if-label q-if-label-above">
            <div class="q-if-label-inner ellipsis">Start time</div>
          </div>
          <div class="col q-input-target ellipsis justify-start">01/01/2020</div>
        </div>
        <div class="q-if-label-spacer">Start time</div>
      </div>
      <i aria-hidden="true" class="q-icon q-if-control material-icons">arrow_drop_down</i></div>
    <div tabindex="0"
         class="q-if row no-wrap relative-position q-datetime-input q-if-has-label q-if-focusable q-if-standard q-if-has-content text-mc-main">
      <div class="q-if-baseline">|</div>
      <div class="q-if-inner col column q-popup--skip">
        <div class="row no-wrap relative-position">
          <div class="q-if-label q-if-label-above">
            <div class="q-if-label-inner ellipsis">End time</div>
          </div>
          <div class="col q-input-target ellipsis justify-start">01/01/2029</div>
        </div>
        <div class="q-if-label-spacer">End time</div>
      </div>
      <i aria-hidden="true" class="q-icon q-if-control material-icons hidden">warning</i><i aria-hidden="true"
                                                                                            class="q-icon q-if-control material-icons">arrow_drop_down</i>
    </div>
  </div>
</div>

<div class="modal-body modal-scroll">
  <div><!---->
    <div tabindex="0"
         class="q-if row no-wrap relative-position q-select q-if-has-label q-if-focusable q-if-standard q-if-has-content text-info">
      <div class="q-if-baseline">|</div>
      <div class="q-if-inner col column q-popup--skip">
        <div class="row no-wrap relative-position">
          <div class="q-if-label q-if-label-above">
            <div class="q-if-label-inner ellipsis">Unit value</div>
          </div>
          <div class="col q-input-target ellipsis justify-start">Week</div>
        </div>
        <div class="q-if-label-spacer">Unit value</div>
      </div>
      <i aria-hidden="true" class="q-icon q-if-control material-icons">arrow_drop_down</i></div>
    <div class="row"><!----><!----><!---->
      <div tabindex="-1"
           class="q-if row no-wrap relative-position q-input col col-4 q-if-has-label q-if-standard q-if-has-content text-mc-main"
           min="1" max="53">
        <div class="q-if-baseline">|</div>
        <div class="q-if-inner col column q-popup--skip">
          <div class="row no-wrap relative-position">
            <div class="q-if-label q-if-label-above">
              <div class="q-if-label-inner ellipsis">Week</div>
            </div>
            <input min="1" type="number" step="any" class="col q-input-target q-no-input-spinner ellipsis" max="53">
          </div>
          <div class="q-if-label-spacer">Week</div>
        </div>
      </div>
      <div tabindex="-1"
           class="q-if row no-wrap relative-position q-input q-if-has-label q-if-standard q-if-has-content text-mc-main col-4"
           min="0">
        <div class="q-if-baseline">|</div>
        <div class="q-if-inner col column q-popup--skip">
          <div class="row no-wrap relative-position">
            <div class="q-if-label q-if-label-above">
              <div class="q-if-label-inner ellipsis">Year</div>
            </div>
            <input min="0" type="number" step="any" class="col q-input-target q-no-input-spinner ellipsis"></div>
          <div class="q-if-label-spacer">Year</div>
        </div>
      </div>
      <div tabindex="-1"
           class="q-if row no-wrap relative-position q-input col col-4 q-if-has-label q-if-standard q-if-has-content text-mc-main"
           min="1">
        <div class="q-if-baseline">|</div>
        <div class="q-if-inner col column q-popup--skip">
          <div class="row no-wrap relative-position">
            <div class="q-if-label q-if-label-above">
              <div class="q-if-label-inner ellipsis">Multiplier</div>
            </div>
            <input min="1" type="number" step="any" class="col q-input-target q-no-input-spinner ellipsis"></div>
          <div class="q-if-label-spacer">Multiplier</div>
        </div>
      </div>
    </div>
    <div tabindex="0"
         class="q-if row no-wrap relative-position q-datetime-input q-if-has-label q-if-focusable q-if-standard q-if-has-content text-mc-main">
      <div class="q-if-baseline">|</div>
      <div class="q-if-inner col column q-popup--skip">
        <div class="row no-wrap relative-position">
          <div class="q-if-label q-if-label-above">
            <div class="q-if-label-inner ellipsis">Start time</div>
          </div>
          <div class="col q-input-target ellipsis justify-start">01/01/2020</div>
        </div>
        <div class="q-if-label-spacer">Start time</div>
      </div>
      <i aria-hidden="true" class="q-icon q-if-control material-icons">arrow_drop_down</i></div>
    <div tabindex="0"
         class="q-if row no-wrap relative-position q-datetime-input q-if-has-label q-if-focusable q-if-standard q-if-has-content text-mc-main">
      <div class="q-if-baseline">|</div>
      <div class="q-if-inner col column q-popup--skip">
        <div class="row no-wrap relative-position">
          <div class="q-if-label q-if-label-above">
            <div class="q-if-label-inner ellipsis">End time</div>
          </div>
          <div class="col q-input-target ellipsis justify-start">08/01/2020</div>
        </div>
        <div class="q-if-label-spacer">End time</div>
      </div>
      <i aria-hidden="true" class="q-icon q-if-control material-icons hidden">warning</i><i aria-hidden="true"
                                                                                            class="q-icon q-if-control material-icons">arrow_drop_down</i>
    </div>
  </div>
</div>
</body>
</html>
