@import '~variables'
// App specifics sytles
body
  background-color $blue-grey-10
  background-image url("../assets/dark-dot.png")
body .ol-zoom
  position absolute
  left unset
  right .5em
  top .5em


.text-sem-quality
  color $sem-quality

.text-sem-subject
  color $sem-subject

.text-sem-identity
  color $sem-identity

.text-sem-attribute
  color $sem-attribute

.text-sem-realm
  color $sem-realm

.text-sem-trait
  color $sem-trait

.text-sem-event
  color $sem-event

.text-sem-relationship
  color $sem-relationship

.text-sem-process
  color $sem-process

.text-sem-role
  color $sem-role

.text-sem-configuration
  color $sem-configuration

.text-sem-domain
  color $sem-domain

.text-sem-types
  color $sem-types

.text-preset-observable
  color $sem-preset-observable

.text-separator
  color $sem-separator

.text-mc-main
  color $main-control-main-color

.text-mc-yellow
  color $main-control-yellow

.text-mc-red
  color $main-control-red

.bg-sem-quality
  background $sem-quality

.bg-sem-subject
  background $sem-subject

.bg-sem-identity
  background $sem-identity

.bg-sem-attribute
  background $sem-attribute

.bg-sem-realm
  background $sem-realm

.bg-sem-trait
  background $sem-trait

.bg-sem-event
  background $sem-event

.bg-sem-relationship
  background $sem-relationship

.bg-sem-process
  background $sem-process

.bg-sem-role
  background $sem-role

.bg-sem-configuration
  background $sem-configuration

.bg-sem-domain
  background $sem-domain

.bg-sem-types
  background $sem-types

.bg-preset-observable
  background $sem-preset-observable

.bg-separator
  background $sem-separator

.bg-mc-main
  background $main-control-main-color

.bg-mc-yellow
  background $main-control-yellow

.bg-mc-red
  background $main-control-red


/* Permit use only vertical scrollbar */
.simplebar-vertical-only
  .simplebar-track.horizontal
    display: none !important;
  .simplebar-scroll-content
    padding-bottom: 0 !important;
    overflow-x: hidden
  .simplebar-content
    margin-bottom: 0 !important;
/* Permit use only horizontal scrollbar */
.simplebar-horizontal-only
  .simplebar-track.vertical
    display: none !important;
  .simplebar-scroll-content
    padding-right: 0 !important;
    overflow-y: hidden
  .simplebar-content
    margin-right: 0 !important;

/* Default buttons style for main control and left menu */
.klab-button
  position relative
  padding 5px 10px 7px 10px
  cursor pointer
  display inline-block
  font-size 22px
  color rgb(119,119,119) !important
  text-shadow 0 1px 0 #333
  &:hover
    color white /* background #e0e0e0 */
  &.active
    color white !important
    cursor auto
.klab-button-notification
  display block
  position absolute
  border-radius 30px
  background-color $main-control-main-color
.klab-action
  padding 5px 6px 7px 6px
  position relative
  &:not(.disabled):hover
    color $main-control-main-color
  &.active
    color $main-control-main-color !important

/**
 * Main menu items
 */
.klab-menuitem
  width 100%
  position relative
  padding 2px 5px
  &.klab-clickable
    cursor pointer
    &:hover:not(.klab-not-available)
      background-color #ddd
      border-radius 5px
  &.klab-no-clickable
    cursor default
  &.klab-not-available
    cursor not-allowed
  &.klab-select
    background-color $main-control-main-color
    color #fff
  .klab-item
    padding 0 3px
    display inline-block
    vertical-align middle
    font-size 13px
    &.klab-only-text
      width calc(100% - 30px)
    &.klab-large-text
      width 100%;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    &.klab-icon
      font-size 20px
      width 30px
    &.klab-text
      padding-left 10px
