// App specifics sytles

body .ol-zoom {
  position:absolute;
  left: unset;
  right: .5em;
  top: .5em;
}
.text-sem-quality {
  color: rgb(0, 204, 0);
}
.text-sem-subject {
  color: rgb(153, 76, 0);
}
.text-sem-identity {
  color: rgb(0, 102, 204);
}
.text-sem-attribute {
  color: rgb(0, 102, 204);
}
.text-sem-realm {
  color: rgb(0, 102, 204);
}
.text-sem-trait {
  color: rgb(0, 102, 204);
}
.text-sem-event {
  color: rgb(53, 153, 0);
}
.text-sem-relationship {
  color: rgb(210, 170, 0);
}
.text-sem-process {
  color: rgb(0, 204, 0);
}
.text-sem-role {
  color: rgb(0, 86, 163);
}
.text-sem-configuration {
  color: rgb(98, 98, 98);
}
.text-sem-domain {
  color: rgb(240, 240, 240);
}
.bg-sem-quality {
  background: rgb(0, 204, 0);
}
.bg-sem-subject {
  background: rgb(153, 76, 0);
}
.bg-sem-identity {
  background: rgb(0, 102, 204);
}
.bg-sem-attribute {
  background: rgb(0, 102, 204);
}
.bg-sem-realm {
  background: rgb(0, 102, 204);
}
.bg-sem-trait {
  background: rgb(0, 102, 204);
}
.bg-sem-event {
  background: rgb(53, 153, 0);
}
.bg-sem-relationship {
  background: rgb(210, 170, 0);
}
.bg-sem-process {
  background: rgb(0, 204, 0);
}
.bg-sem-role {
  background: rgb(0, 86, 163);
}
.bg-sem-configuration {
  background: rgb(98, 98, 98);
}
.bg-sem-domain {
  background: rgb(240, 240, 240);
}
